<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.progym"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="com.orm.SugarApp"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/app_id" />
		<meta-data
			android:name="DATABASE"
			android:value="progym36.db" />
		<meta-data
			android:name="VERSION"
			android:value="1" />
		<meta-data
			android:name="QUERY_LOG"
			android:value="true" />
		<meta-data
			android:name="DOMAIN_PACKAGE_NAME"
			android:value="com.progym" />

		<activity
			android:name="com.progym.activities.ActivityStart_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.progym.activities.ActivityWaterManagement_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="adjustPan" >
		</activity>
		<activity
			android:name="com.facebook.LoginActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<activity
			android:name="com.progym.activities.ActivityFoodManagment_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="adjustPan" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityChooseProgressType_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityWaterProgress_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityCalloriesProgress_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityFoodProgress_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityUserProfile_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.LoginActivity"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityAdviceLevel_1_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityChooseActivityBMI_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityCalculateBMI_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityAdvicePacExplanation_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityAdviceLevel_2_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:windowSoftInputMode="stateHidden" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityAdviceAgeGroup_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivityChooseTypeOfAdvice_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.activities.ActivitySelectFoodOrWaterManagment_"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape" >
		</activity>
		<activity
			android:name="com.progym.receivers.AlertDialogActivity"
			android:label="@string/app_name"
			android:screenOrientation="sensorLandscape"
			android:theme="@style/Theme.Transparent" >
		</activity>

		<receiver android:name="com.progym.receivers.AlarmWaterReceiver" >
		</receiver>
	</application>

</manifest>